<%- include('partials/header') -%>
  <div class="container mx-auto flex justify-center">
    <div class="flex justify-center mt-5">
      <ul class="flex flex-row flex-wrap lg:justify-between list-unstyled justify-center">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="basis-1/4 pt-5 pb-5 h-64 mt-5 md:mr-5">
            <div class="card shrink w-96 bg-neutral shadow-xl h-64 justify-evenly">
              <a class="" href="/post/<%= posts[i]._id%>">
                <div class="card-body flex justify-between">
                  <div class="tooltip" data-tip="Name">
                    <h2 class="card-title text-secondary-focus">
                      <%= posts[i].traitName %>
                    </h2>
                  </div>
                  <div class="tooltip" data-tip="Description">
                    <p>
                      <%= posts[i].caption %>
                    </p>
                  </div>
                  <div class="card-actions justify-around">
                    <div class="tooltip" data-tip="Deck">
                      <button class="btn btn-secondary">
                        <%= posts[i].deck%>
                      </button>
                    </div>
                    <div class="tooltip" data-tip="Category">
                      <button class="btn btn-primary">
                        <%= posts[i].category%>
                      </button>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>