<%- include('partials/header') -%>
  <div class="container mx-auto">
    <div class="row justify-center mt-5">
      <ul class="flex flex-row flex-wrap list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="basis-1/4 mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <h2>
                Name: <%= posts[i].traitName %>
              </h2>
              <p>
                Description: <%= posts[i].caption %>
              </p>
              <p>Category: <%= posts[i].category%>
              </p>
              <p>Deck: <%= posts[i].deck%>
              </p>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>