<%- include('partials/header') -%>
  <div class="container mx-auto">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <h2>
          <%= post.traitName %>
        </h2>
        <p>
          <%= post.caption %>
        </p>
        <p>Category: <%= post.category%>
        </p>
        <p>Deck: <%= post.deck%>
        </p>
      </div>

      <%if(post.user==user.id){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>

          <div class="col-6 mt-5">
            <a class="btn btn-primary" href="/profile">Return to Profile</a>
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
    </div>
  </div>

  <%- include('partials/footer') -%>